@if(Item.Article is not null)
{
    <div @onfocusout=@(e => Change.InvokeAsync(Item))>
    <div class="shadow bg-base-100 flex justify-between items-center px-2 py-1 space-x-1">
    <div class="bg-base-300 flex items-center justify-center p-4 rounded-full w-12 h-12">
           <h2 class="text-gray-50 font-semibold">@Item.Article!.Name.ToAvatar()</h2>
     </div>
     <div class="space-y-1">
          <h2 class="font-medium text-sm">@Item.Article.Name</h2>
            @if (Item.Article.Conditionnement is not null)
            {
                 <div class="flex space-x-2 items-center">
                       <p class="text-sm">Détail</p>
                       <input  @onchange=@(e => SwitchPrice((bool)e.Value!)) type="checkbox" class="toggle toggle-sm" />
                       <p class="text-sm">Gros</p>
                 </div>
            }
          <p class="text-sm text-gray-500">@Item.UnitPricePerUnitOfMeasure.ToString("#.##") $ par @Item.Article.UnitOfMeasure</p>
          <p class="text-sm font-medium">Total: @Item.SubTotal.ToString("#.##") $</p>

    </div>
     <div>
         <div>
             <p class="text-sm">@Item.Article.UnitOfMeasure</p>
              <input type="number" placeholder="0"
                    min="0"
                    step="1"
                    @bind=@Item.QtyInUnitOfMeasure
                    @oninput=@(e => OnQtyChanged(e.Value?.ToString(),true))
                    class="input input-bordered input-sm w-full max-w-[5rem]" />
         </div>
            @if (Item.Article.Conditionnement is not null)
            {
                 <div>
                    <p class="text-sm">@Item.Article.Conditionnement.Name</p>
                    <input type="number" placeholder="0"
                    min="0"
                    step="1"
                    @bind=@_qtyPerConidtionnement
                    @oninput=@(e => OnQtyChanged(e.Value?.ToString(),false))
                    class="input input-bordered input-sm w-full max-w-[5rem]" />
                </div>
            }
     </div>
     <div class="space-y-2">
         <button @onclick=@(e => Remove.InvokeAsync(Item)) class="bg-red-400 hover:bg-red-300 text-gray-50 flex items-center justify-center py-1 px-1 rounded">
             <svg class="h-6 fill-current text-current"  viewBox="0 0 24 24">
                <path d="M10 2L9 3L5 3L4 3L4 5L5 5L5 20C5 21.093063 5.9069372 22 7 22L17 22C18.093063 22 19 21.093063 19 20L19 5L20 5L20 3L19 3L18 3L15 3L14 2L10 2 z M 7 5L17 5L17 20L7 20L7 5 z"  />
            </svg>
         </button>
         <button @onclick=@(e => _canAdjustPrice = !_canAdjustPrice)  class="bg-gray-700 hover:bg-gray-600 text-gray-50 flex items-center justify-center py-1 px-1 rounded">
            <svg class="h-6 fill-current text-current" viewBox="0 0 100 100">
                <path d="M57.992188 12C49.057835 12 41.027038 15.936078 35.53125 22.152344C32.664564 23.811219 30.085277 25.911691 27.892578 28.365234C18.396519 33.92327 12 44.22971 12 56C12 73.635789 26.349058 88 43.990234 88C55.761961 88 66.070404 81.599586 71.630859 72.103516C74.083615 69.911183 76.182824 67.331529 77.841797 64.466797C84.062221 58.96795 88 50.932541 88 42C88 25.466487 74.529398 12 57.992188 12 z M 57.992188 14C73.444975 14 86 26.551513 86 42C86 48.272664 83.92471 54.059295 80.427734 58.728516C81.444369 55.666622 82 52.397053 82 49C82 31.914535 68.080374 18 50.990234 18C47.593649 18 44.324134 18.55486 41.263672 19.570312C45.930867 16.074263 51.716581 14 57.992188 14 z M 50.990234 20C66.996094 20 80 32.999465 80 49C80 55.44205 77.885058 61.389911 74.318359 66.205078C75.40246 62.99708 76 59.567671 76 56C76 38.363509 61.63141 24 43.990234 24C40.422725 24 36.993911 24.596563 33.787109 25.679688C38.599879 22.114543 44.54586 20 50.990234 20 z M 43.990234 26C60.547058 26 74 39.448491 74 56C74 72.551509 60.547058 86 43.990234 86C27.43341 86 14 72.552211 14 56C14 39.447789 27.43341 26 43.990234 26 z M 44.410156 30 A 0.50005 0.50005 0 0 0 44.410156 31L45.279297 31.042969 A 0.50005 0.50005 0 1 0 45.330078 30.044922L44.460938 30 A 0.50005 0.50005 0 0 0 44.410156 30 z M 41.816406 30.087891C41.496743 30.093391 41.179285 30.125764 40.867188 30.183594 A 0.50067468 0.50067468 0 1 0 41.050781 31.167969C41.310683 31.119809 41.571648 31.092401 41.833984 31.087891 A 0.50007726 0.50007726 0 0 0 41.816406 30.087891 z M 47.878906 30.306641 A 0.50005 0.50005 0 0 0 47.828125 31.300781L48.6875 31.433594 A 0.50005 0.50005 0 1 0 48.839844 30.445312L47.978516 30.3125 A 0.50005 0.50005 0 0 0 47.878906 30.306641 z M 38.394531 30.615234 A 0.50005 0.50005 0 0 0 38.259766 30.632812L37.416016 30.851562 A 0.50005 0.50005 0 1 0 37.666016 31.818359L38.509766 31.601562 A 0.50005 0.50005 0 0 0 38.394531 30.615234 z M 51.306641 31.050781 A 0.50005 0.50005 0 0 0 51.199219 32.041016C51.421116 32.087726 51.669402 32.191022 51.962891 32.294922 A 0.50036821 0.50036821 0 1 0 52.296875 31.351562C52.042364 31.261463 51.754352 31.135785 51.40625 31.0625 A 0.50005 0.50005 0 0 0 51.306641 31.050781 z M 35.060547 31.621094 A 0.50005 0.50005 0 0 0 34.880859 31.654297L34.0625 31.953125 A 0.50018397 0.50018397 0 1 0 34.40625 32.892578L35.224609 32.591797 A 0.50005 0.50005 0 0 0 35.060547 31.621094 z M 54.533203 32.28125 A 0.50005 0.50005 0 0 0 54.341797 33.234375L55.126953 33.613281 A 0.50055635 0.50055635 0 1 0 55.560547 32.710938L54.775391 32.333984 A 0.50005 0.50005 0 0 0 54.533203 32.28125 z M 31.884766 33.037109 A 0.50005 0.50005 0 0 0 31.615234 33.111328L30.867188 33.560547 A 0.50026008 0.50026008 0 1 0 31.382812 34.417969L32.128906 33.96875 A 0.50005 0.50005 0 0 0 31.884766 33.037109 z M 57.601562 33.9375 A 0.50005 0.50005 0 0 0 57.351562 34.865234C57.616684 35.032282 57.864556 35.166078 58.068359 35.310547 A 0.50018678 0.50018678 0 0 0 58.646484 34.494141C58.376288 34.302609 58.111644 34.162483 57.884766 34.019531 A 0.50005 0.50005 0 0 0 57.601562 33.9375 z M 28.957031 34.919922 A 0.50005 0.50005 0 0 0 28.644531 35.023438L27.947266 35.544922 A 0.50039349 0.50039349 0 1 0 28.544922 36.347656L29.242188 35.826172 A 0.50005 0.50005 0 0 0 28.957031 34.919922 z M 60.40625 35.984375 A 0.50005 0.50005 0 0 0 60.099609 36.857422L60.744141 37.443359 A 0.50005 0.50005 0 1 0 61.416016 36.703125L60.771484 36.117188 A 0.50005 0.50005 0 0 0 60.40625 35.984375 z M 26.255859 37.15625 A 0.50005 0.50005 0 0 0 25.951172 37.279297C25.709769 37.484653 25.485493 37.708973 25.279297 37.951172 A 0.50017157 0.50017157 0 1 0 26.041016 38.599609C26.212819 38.397809 26.399012 38.21166 26.599609 38.041016 A 0.50005 0.50005 0 0 0 26.255859 37.15625 z M 62.894531 38.416016 A 0.50005 0.50005 0 0 0 62.556641 39.255859L63.142578 39.900391 A 0.50005 0.50005 0 1 0 63.882812 39.228516L63.296875 38.583984 A 0.50005 0.50005 0 0 0 62.894531 38.416016 z M 23.962891 39.740234 A 0.50005 0.50005 0 0 0 23.544922 39.947266L23.023438 40.644531 A 0.50039379 0.50039379 0 1 0 23.826172 41.242188L24.347656 40.544922 A 0.50005 0.50005 0 0 0 23.962891 39.740234 z M 65.076172 41.136719 A 0.50005 0.50005 0 0 0 64.689453 41.931641C64.833018 42.133314 64.967392 42.382798 65.134766 42.648438 A 0.50005 0.50005 0 1 0 65.980469 42.115234C65.837843 41.888873 65.696342 41.62189 65.503906 41.351562 A 0.50005 0.50005 0 0 0 65.076172 41.136719 z M 43.988281 42C43.731281 42 43.51775 42.07075 43.34375 42.21875C43.16975 42.36675 43.080078 42.529938 43.080078 42.710938L43.080078 43.732422C42.243078 43.801422 41.465141 43.953406 40.744141 44.191406C40.024141 44.430406 39.342125 44.776469 38.703125 45.230469C38.062125 45.683469 37.557547 46.302937 37.185547 47.085938C36.813547 47.869938 36.628906 48.775734 36.628906 49.802734C36.628906 50.646734 36.767875 51.403172 37.046875 52.076172C37.326875 52.750172 37.634656 53.286547 37.972656 53.685547C38.308656 54.085547 38.819859 54.478234 39.505859 54.865234C40.191859 55.254234 40.755266 55.5285 41.197266 55.6875L43.082031 56.373047L43.082031 65.474609C42.167031 65.429609 41.345188 65.263516 40.617188 64.978516C39.889187 64.694516 39.358391 64.385688 39.025391 64.054688C38.691391 63.723688 38.364969 63.422438 38.042969 63.148438C37.719969 62.875438 37.467203 62.736328 37.283203 62.736328C36.959203 62.736328 36.664437 62.908953 36.398438 63.251953C36.132438 63.593953 36 63.946547 36 64.310547C36 65.107547 36.681016 65.926578 38.041016 66.767578C39.402016 67.607578 41.082031 68.039547 43.082031 68.060547L43.082031 69.246094C43.082031 69.437094 43.16975 69.611578 43.34375 69.767578C43.51775 69.922578 43.731281 70 43.988281 70C44.220281 70 44.430188 69.923578 44.617188 69.767578C44.802188 69.612578 44.894531 69.439047 44.894531 69.248047L44.894531 67.958984C46.767531 67.711984 48.253563 67.017047 49.351562 65.873047C50.449563 64.730047 51 63.170266 51 61.197266C51 60.080266 50.832094 59.104484 50.496094 58.271484C50.161094 57.439484 49.664859 56.756703 49.005859 56.220703C48.346859 55.684703 47.722813 55.261125 47.132812 54.953125C46.543813 54.645125 45.796531 54.333672 44.894531 54.013672L44.894531 46.21875C45.894531 46.26575 46.824641 46.486812 47.681641 46.882812C48.538641 47.279812 49.023625 47.478516 49.140625 47.478516C49.515625 47.478516 49.819688 47.296594 50.054688 46.933594C50.289688 46.570594 50.408203 46.230109 50.408203 45.912109C50.408203 45.276109 49.836266 44.760281 48.697266 44.363281C47.557266 43.967281 46.290531 43.734969 44.894531 43.667969L44.894531 42.714844C44.894531 42.533844 44.803187 42.368703 44.617188 42.220703C44.430187 42.072703 44.220281 42 43.988281 42 z M 22.005859 42.619141 A 0.50005 0.50005 0 0 0 21.560547 42.867188L21.111328 43.615234 A 0.50005 0.50005 0 1 0 21.96875 44.128906L22.417969 43.382812 A 0.50005 0.50005 0 0 0 22.005859 42.619141 z M 66.802734 44.150391 A 0.50005 0.50005 0 0 0 66.386719 44.873047L66.765625 45.658203 A 0.50005 0.50005 0 1 0 67.666016 45.224609L67.289062 44.439453 A 0.50005 0.50005 0 0 0 66.853516 44.150391 A 0.50005 0.50005 0 0 0 66.802734 44.150391 z M 20.392578 45.728516 A 0.50005 0.50005 0 0 0 19.953125 46.0625L19.654297 46.880859 A 0.50005 0.50005 0 1 0 20.591797 47.224609L20.892578 46.40625 A 0.50005 0.50005 0 0 0 20.392578 45.728516 z M 43.220703 46.263672L43.220703 53.431641C41.930703 52.975641 40.968938 52.478406 40.335938 51.941406C39.701938 51.406406 39.384766 50.60325 39.384766 49.53125C39.384766 47.60325 40.661703 46.513672 43.220703 46.263672 z M 68.146484 47.363281 A 0.50005 0.50005 0 0 0 67.705078 48.037109C67.808978 48.330598 67.912269 48.578884 67.958984 48.800781 A 0.50008884 0.50008884 0 0 0 68.9375 48.59375C68.86422 48.245648 68.738538 47.957636 68.648438 47.703125 A 0.50005 0.50005 0 0 0 68.146484 47.363281 z M 19.304688 49.035156 A 0.50005 0.50005 0 0 0 18.851562 49.416016L18.632812 50.259766 A 0.50024408 0.50024408 0 0 0 19.601562 50.509766L19.818359 49.666016 A 0.50005 0.50005 0 0 0 19.304688 49.035156 z M 69.025391 50.728516 A 0.50005 0.50005 0 0 0 68.566406 51.3125L68.699219 52.171875 A 0.50005 0.50005 0 1 0 69.6875 52.021484L69.554688 51.160156 A 0.50005 0.50005 0 0 0 69.076172 50.728516 A 0.50005 0.50005 0 0 0 69.025391 50.728516 z M 18.664062 52.453125 A 0.50005 0.50005 0 0 0 18.185547 52.867188C18.126207 53.18146 18.093371 53.497888 18.087891 53.816406 A 0.50007726 0.50007726 0 0 0 19.087891 53.833984C19.092391 53.570503 19.119309 53.310462 19.167969 53.052734 A 0.50005 0.50005 0 0 0 18.664062 52.453125 z M 69.421875 54.1875 A 0.50005 0.50005 0 0 0 68.957031 54.720703L69 55.589844 A 0.50064429 0.50064429 0 1 0 70 55.539062L69.955078 54.669922 A 0.50005 0.50005 0 0 0 69.472656 54.1875 A 0.50005 0.50005 0 0 0 69.421875 54.1875 z M 18.466797 55.927734 A 0.50005 0.50005 0 0 0 18 56.460938L18.044922 57.330078 A 0.50005 0.50005 0 1 0 19.042969 57.279297L19 56.410156 A 0.50005 0.50005 0 0 0 18.517578 55.927734 A 0.50005 0.50005 0 0 0 18.466797 55.927734 z M 44.755859 57.023438C45.872859 57.479437 46.732891 58.038219 47.337891 58.699219C47.941891 59.360219 48.244141 60.285656 48.244141 61.472656C48.244141 63.730656 47.080859 65.04225 44.755859 65.40625L44.755859 57.023438 z M 69.414062 57.667969 A 0.50005 0.50005 0 0 0 68.912109 58.166016C68.907609 58.429497 68.880691 58.689538 68.832031 58.947266 A 0.50005 0.50005 0 1 0 69.814453 59.132812C69.873793 58.81854 69.906629 58.502112 69.912109 58.183594 A 0.50005 0.50005 0 0 0 69.414062 57.667969 z M 18.771484 59.396484 A 0.50005 0.50005 0 0 0 18.3125 59.978516L18.445312 60.839844 A 0.50005 0.50005 0 1 0 19.433594 60.6875L19.300781 59.828125 A 0.50005 0.50005 0 0 0 18.771484 59.396484 z M 68.851562 61.109375 A 0.50005 0.50005 0 0 0 68.398438 61.490234L68.181641 62.333984 A 0.50005 0.50005 0 1 0 69.148438 62.583984L69.367188 61.740234 A 0.50005 0.50005 0 0 0 68.851562 61.109375 z M 19.539062 62.796875 A 0.50005 0.50005 0 0 0 19.0625 63.40625C19.13578 63.754352 19.261463 64.042364 19.351562 64.296875 A 0.50036821 0.50036821 0 0 0 20.294922 63.962891C20.191022 63.669402 20.087731 63.421116 20.041016 63.199219 A 0.50005 0.50005 0 0 0 19.539062 62.796875 z M 67.847656 64.441406 A 0.50005 0.50005 0 0 0 67.408203 64.775391L67.107422 65.59375 A 0.50018397 0.50018397 0 1 0 68.046875 65.9375L68.345703 65.119141 A 0.50005 0.50005 0 0 0 67.847656 64.441406 z M 20.75 66.052734 A 0.50005 0.50005 0 0 0 20.333984 66.775391L20.710938 67.560547 A 0.50055635 0.50055635 0 0 0 21.613281 67.126953L21.234375 66.341797 A 0.50005 0.50005 0 0 0 20.75 66.052734 z M 66.476562 67.621094 A 0.50005 0.50005 0 0 0 66.03125 67.871094L65.582031 68.617188 A 0.50026008 0.50026008 0 0 0 66.439453 69.132812L66.888672 68.384766 A 0.50005 0.50005 0 0 0 66.476562 67.621094 z M 22.449219 69.113281 A 0.50005 0.50005 0 0 0 22.019531 69.884766C22.162157 70.111127 22.303658 70.378111 22.496094 70.648438 A 0.50005 0.50005 0 1 0 23.310547 70.068359C23.166982 69.866686 23.032608 69.617202 22.865234 69.351562 A 0.50005 0.50005 0 0 0 22.449219 69.113281 z M 64.595703 70.548828 A 0.50005 0.50005 0 0 0 64.542969 70.550781 A 0.50005 0.50005 0 0 0 64.173828 70.757812L63.652344 71.455078 A 0.50039349 0.50039349 0 1 0 64.455078 72.052734L64.976562 71.355469 A 0.50005 0.50005 0 0 0 64.595703 70.548828 z M 24.457031 71.929688 A 0.50005 0.50005 0 0 0 24.117188 72.771484L24.703125 73.416016 A 0.50005 0.50005 0 1 0 25.443359 72.744141L24.857422 72.099609 A 0.50005 0.50005 0 0 0 24.457031 71.929688 z M 62.339844 73.21875 A 0.50005 0.50005 0 0 0 61.958984 73.400391C61.787181 73.602191 61.600988 73.78834 61.400391 73.958984 A 0.50017157 0.50017157 0 1 0 62.048828 74.720703C62.290231 74.515347 62.514507 74.291027 62.720703 74.048828 A 0.50005 0.50005 0 0 0 62.339844 73.21875 z M 26.890625 74.421875 A 0.50005 0.50005 0 0 0 26.583984 75.296875L27.228516 75.882812 A 0.50005 0.50005 0 1 0 27.900391 75.142578L27.255859 74.556641 A 0.50005 0.50005 0 0 0 26.890625 74.421875 z M 59.767578 75.548828 A 0.50005 0.50005 0 0 0 59.455078 75.652344L58.757812 76.173828 A 0.50039379 0.50039379 0 1 0 59.355469 76.976562L60.052734 76.455078 A 0.50005 0.50005 0 0 0 59.767578 75.548828 z M 29.601562 76.59375 A 0.50005 0.50005 0 0 0 29.353516 77.505859C29.623712 77.697391 29.888356 77.837517 30.115234 77.980469 A 0.50005 0.50005 0 1 0 30.648438 77.134766C30.383315 76.967718 30.135444 76.833922 29.931641 76.689453 A 0.50005 0.50005 0 0 0 29.601562 76.59375 z M 56.888672 77.507812 A 0.50005 0.50005 0 0 0 56.617188 77.582031L55.871094 78.03125 A 0.50005 0.50005 0 1 0 56.384766 78.888672L57.132812 78.439453 A 0.50005 0.50005 0 0 0 56.888672 77.507812 z M 32.632812 78.335938 A 0.50005 0.50005 0 0 0 32.439453 79.289062L33.224609 79.666016 A 0.50005 0.50005 0 1 0 33.658203 78.765625L32.873047 78.386719 A 0.50005 0.50005 0 0 0 32.632812 78.335938 z M 53.775391 79.076172 A 0.50005 0.50005 0 0 0 53.59375 79.107422L52.775391 79.408203 A 0.50005 0.50005 0 1 0 53.119141 80.345703L53.9375 80.046875 A 0.50005 0.50005 0 0 0 53.775391 79.076172 z M 35.839844 79.675781 A 0.50005 0.50005 0 0 0 35.703125 80.648438C35.957636 80.738538 36.245648 80.864215 36.59375 80.9375 A 0.50008884 0.50008884 0 1 0 36.800781 79.958984C36.578884 79.912264 36.330598 79.808978 36.037109 79.705078 A 0.50005 0.50005 0 0 0 35.839844 79.675781 z M 50.46875 80.164062 A 0.50005 0.50005 0 0 0 50.333984 80.181641L49.490234 80.398438 A 0.50024408 0.50024408 0 0 0 49.740234 81.367188L50.583984 81.148438 A 0.50005 0.50005 0 0 0 50.46875 80.164062 z M 39.212891 80.560547 A 0.50005 0.50005 0 0 0 39.160156 81.554688L40.021484 81.6875 A 0.50005 0.50005 0 1 0 40.171875 80.699219L39.3125 80.566406 A 0.50005 0.50005 0 0 0 39.212891 80.560547 z M 47.035156 80.822266 A 0.50005 0.50005 0 0 0 46.949219 80.832031C46.689317 80.880191 46.428352 80.907599 46.166016 80.912109 A 0.50007726 0.50007726 0 0 0 46.183594 81.912109C46.503257 81.906609 46.820714 81.874236 47.132812 81.816406 A 0.50005 0.50005 0 0 0 47.035156 80.822266 z M 42.669922 80.955078 A 0.50005 0.50005 0 0 0 42.669922 81.955078L43.539062 82 A 0.50064429 0.50064429 0 1 0 43.589844 81L42.720703 80.957031 A 0.50005 0.50005 0 0 0 42.669922 80.955078 z" />
            </svg>
         </button>
     </div>
</div>
    @if (_canAdjustPrice)
    {
             <div class="bg-base-300 px-2 py-2 my-1 shadow">
                <p class="text-sm">Modifier le prix</p>
                <div class="flex items-center justify-center space-x-2">
                    <div>
                        <p class="text-sm">Prix par @Item.Article.UnitOfMeasure</p>
                         <input type="number" placeholder="0"
                    min="0"
                    step="1"
                    @bind=@Item.UnitPricePerUnitOfMeasure
                    class="input input-bordered input-sm w-full max-w-[5rem]" />
                    </div>
                @if (Item.Article.Conditionnement is not null)
                {
                        <div>
                            <p class="text-sm">Prix par @Item.Article.Conditionnement.Name</p>
                             <input type="number" placeholder="0"
                    min="0"
                    step="1"
                    @bind="@Item.Article.Price.SellingPricePerConditionnement"
                    @oninput=@(e => ChangePriceOnGros())
                    class="input input-bordered input-sm w-full max-w-[5rem]" />
                        </div>
                }
                </div>
            </div>
    }
</div>
}

@code {
    [Parameter] public SaleItem Item { get; set; } = null!;
    [Parameter] public EventCallback<SaleItem> Remove { get; set; }
    [Parameter] public EventCallback<SaleItem> Change { get; set; }
    double _qtyPerConidtionnement = 0;
    bool _canAdjustPrice = false;
    protected override void OnParametersSet()
    {
        Item.QtyInUnitOfMeasure = Item.QtyInUnitOfMeasure <= 0 ? 1 : Item.QtyInUnitOfMeasure;
        OnQtyChanged(Item.QtyInUnitOfMeasure.ToString(), true);
    }

    void SwitchPrice(bool isGros)
    {
        if (!isGros)
            Item.UnitPricePerUnitOfMeasure = Item.Article!.Price.SellingPricePerUnitOfMeasure;
        else
        {
            ChangePriceOnGros();
        }
        Change.InvokeAsync(Item);
    }

    void ChangePriceOnGros()
    {
        var itemPerUnitOfMeasure = Convert.ToDecimal(Item.Article!.Conditionnement?.QtyPerUnitOfMeasure ?? 1);
        var selllingPrice = Item.Article!.Price.SellingPricePerConditionnement ?? 0M;
        Item.UnitPricePerUnitOfMeasure = selllingPrice / itemPerUnitOfMeasure;
    }

    void OnQtyChanged(string? value, bool isUnitOfMeasure)
    {
        if (double.TryParse(value ?? "", out var newValue))
        {
            if (Item.Article is not null)
            {
                if (isUnitOfMeasure)
                {
                    if (Item.Article!.Conditionnement is not null)
                    {
                        _qtyPerConidtionnement = Math.Round(newValue / Item.Article.Conditionnement.QtyPerUnitOfMeasure, 0);
                    }
                }
                else
                {
                    if (Item.Article!.Conditionnement is not null)
                    {
                        Item.QtyInUnitOfMeasure = Math.Round(newValue * Item.Article!.Conditionnement!.QtyPerUnitOfMeasure, 0);
                    }
                }
            }
        }
    }

}
